@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap');
body{
    font-family: 'Lato', sans-serif; 
}
.wrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}
$red: #F37272;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.sprite{
    background-image: url('../images/sprite_newfooter.png');
    background-repeat: no-repeat;
}
footer{
    font-family: 'Lato', sans-serif; 
    .newsletterFooter{
        background: #d5d5d5;
        color: #000000;
        padding-top: 13px;
        padding-bottom: 11px;
        .newsFlex{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            .leftNewsletter{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    font-size: 0.875rem;
                    color: #000;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .formNews{
                    margin-left: 35px;
                    input{
                        border-radius: 3px;
                        background: #ffffff;
                        font-size: 0.875rem;
                        color: black;
                        font-style: italic;
                        border: none;
                        padding: 10px 15px;
                        min-width: 350px;
                        &::placeholder{
                            color: black;
                        }
                    }
                    button{
                        padding: 10px 35px;
                        background: black;
                        color: white;
                        text-transform: uppercase;
                        font-size: 0.875rem;
                        border: none;
                        border-radius: 3px;
                        margin-left: 6px;
                        transition: .3s;
                        cursor: pointer;
                        &:hover{
                            background: #585858;
                            color: white;
                        }
                    }
                }
            } 
            .rightNewsletter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                a{
                    background: #fdfdfd;
                    width: 37px;
                    height: 37px;
                    border-radius: 50%;
                    color: black;
                    margin-right: 10px;
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    transition: .3s;
                    &:hover{
                        color: white;
                        background: black;
                        i{
                            color: white;
                        }
                        .instagramFooter{
                            background-position: -4px -26px;
                        }
                        .facebookFooter{
                            background-position: -36px -26px;
                        }
                        .pinterestFooter{
                            background-position: -57px -26px;
                        }
                        .twitterFooter{
                            background-position: -87px -26px;
                        }  
                    }
                    i{
                        font-size: 13px;
                        font-weight: 800;
                        color: black;
                        transition: .3s;
                    }
                    .instagramFooter{
                        background-position: -4px -3px;
                        width: 17px;
                        height: 16px;
                    }
                    .facebookFooter{
                        background-position: -36px -3px;
                        width: 9px;
                        height: 21px;
                    }
                    .pinterestFooter{
                        background-position: -57px -3px;
                        width: 21px;
                        height: 21px;
                    }
                    .twitterFooter{
                        background-position: -87px -3px;
                        width: 22px;
                        height: 17px;
                    }                                                
                }
            }       
        }
    }
    
    .footerContent{
        background: #141414;
        color: white;
        padding-top: 60px;
        padding-bottom: 30px;
        .footerFlex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .itemsListFooter{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .itemList{
                    margin-right: 110px;
                    h4{
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 30px;
                        text-transform: uppercase;
                        margin-top: 0;
                    }
                    ul{
                        padding-left: 0;
                        list-style: none;
                        li{
                            margin-bottom: 16px;
                            a{
                                font-size: 0.875rem;
                                color: #FFF;
                                text-decoration: none;
                                padding-bottom: 6px;
                                position: relative;
                                &:before,
                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: 2px;
                                    left: 0; right: 0;
                                    height: 2px;
                                    background-color: #f0f0f0;
                                }
                                &:before {
                                    opacity: 0;
                                    transform: translateY(- $distance);
                                    transition: transform 0s $easeOutBack, opacity 0s;
                                }
                                &:after {
                                    opacity: 0;
                                    transform: translateY($distance/2);
                                    transition: transform $duration $easeOutBack, opacity $duration;
                                }
                                &:hover,
                                &:focus {
                                    &:before,
                                    &:after {
                                        opacity: 1;
                                        transform: translateY(0);
                                    }
                                    &:before {
                                        transition: transform $duration $easeOutBack, opacity $duration;
                                    }
                                    &:after {
                                        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                                    }
                                }                                
                            }
                            a.redColor{
                                color: #ff0000;
                            }
                        }
                    }
                }
            }
            .callFooter{
                display: flex;
                flex-direction: column;
                .itemCall{
                    font-size: 0.92rem;
                    color: #FFF;
                    font-weight: bold;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                    .iconeCall{
                        min-width: 27px;
                        margin-right: 12px;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        padding-top: 4px;
                        i{
                            display: block;
                        }
                        .whatsIco{
                            background-position: -114px -3px;
                            width: 24px;
                            height: 24px;
                        }
                        .mailIco{
                            background-position: -141px -4px;
                            width: 24px;
                            height: 18px;
                        }
                        .phoneIco{
                            background-position: -170px -3px;
                            width: 24px;
                            height: 24px;
                        }   
                    }
                    .textCall{
                        a{
                            display: block;
                            font-weight: 500;
                            text-decoration: none;
                            color: #FFF;
                        }
                    }
                    .textCall.atendimentoHorario{
                        font-weight: 500;
                    }
                }
                .infoCall{
                    text-align: center;
                    margin-top: 15px;
                    a.buttonFindStore {
                        background: #FFF;
                        text-align: center;
                        color: black;
                        text-decoration: none;
                        padding: 5px 10px;
                        font-size: 0.875rem;
                        text-transform: uppercase;
                        font-weight: bold;
                        transition: .3s;
                        &:hover{
                            color: white;
                            background: #9a9a9a;
                        }
                    }    
                    small{
                        display: block;
                        font-weight: 800;
                        color: #c1272d;
                        font-size: 0.7rem;
                        margin-top: 9px;
                    }
                }
            }
        }
        .footerAdress{
            padding-top: 30px;
            font-size: 12px;
            p{
                margin-top: 0px;
                margin-bottom: 5px;
            }
            img{
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }    
}
